@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1,
h2,
h3,
h4 {
  font-weight: 600; }

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: #fff;
  position: relative; }

header {
  position: absolute;
  width: 100%;
  background-color: #30373d;
  padding: 8px 36px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 999; }
  header .header-title {
    color: #fff;
    margin: 0;
    font-size: 26px;
    text-align: center; }

main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#side-bar {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  background-color: #30373d;
  z-index: 1000;
  border-right: 2px solid #272d32; }

input,
button,
select {
  font-family: "Nunito", sans-serif;
  color: #fff; }

.button {
  display: inline-block;
  background-color: #009ad9;
  padding: 12px 16px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  background-color: #009ad9;
  -ms-flex-item-align: center;
  align-self: center; }
  .button:hover {
    cursor: pointer;
    background-color: #0db9ff; }
  .button:hover {
    cursor: pointer;
    background-color: #0db9ff; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.container {
  position: relative;
  padding-bottom: 32px; }
  .container:first-child .container-header-container {
    border-top: none; }
  .container:last-child {
    border-bottom: 2px solid #272d32; }
  .container hr {
    width: 100%;
    border: none;
    height: 2px;
    background-color: #272d32;
    margin-top: 0; }

.container-blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.container-header {
  font-weight: 600;
  font-size: 20px; }

.container-header-container {
  padding: 12px 32px;
  text-align: center;
  margin-bottom: 12px;
  background-color: #424c54;
  border-bottom: 2px solid #272d32;
  border-top: 2px solid #272d32; }

#panel-size-container .panel-size-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 16px; }

#panel-size-container .panel-size-inputs-divider {
  font-size: 18px;
  font-weight: bold;
  padding: 0 16px 8px;
  -ms-flex-item-align: end;
  align-self: flex-end; }

#panel-size-container button {
  padding: 8px 12px;
  margin-left: 12px;
  -ms-flex-item-align: end;
  align-self: flex-end; }

#panel-size-container .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  #panel-size-container .input-group label {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 600; }
  #panel-size-container .input-group input {
    border: none;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 8px 16px;
    font-size: 18px;
    font-weight: bold;
    color: #00648d;
    text-align: center;
    border-radius: 6px;
    -moz-appearance: textfield;
    width: 95px; }
    #panel-size-container .input-group input::-webkit-input-placeholder {
      color: #3d3d3d; }
    #panel-size-container .input-group input:-ms-input-placeholder {
      color: #3d3d3d; }
    #panel-size-container .input-group input::-ms-input-placeholder {
      color: #3d3d3d; }
    #panel-size-container .input-group input::placeholder {
      color: #3d3d3d; }

.result-label {
  font-weight: bold;
  font-size: 18px; }

#image-upload-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.hidden {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.specifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 32px; }

.spec-header {
  margin: 12px 0 0;
  font-weight: bold; }

.spec {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4px 0 0; }

.spec-value {
  font-weight: 600;
  position: absolute;
  right: 0;
  text-align: right; }

.file-uploaded-message {
  margin-top: 8px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding: 0 32px;
  font-size: 16px;
  text-align: center; }

.cropper-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: #22272b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#previewImg {
  max-width: 768px;
  max-height: 768px; }

#liveDpi {
  margin-top: 4px;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.24); }

.fas.left {
  margin-right: 8px; }

.fas.right {
  margin-left: 8px; }

.croppie-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 48px;
  height: unset; }
  .croppie-container .cr-boundary {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .croppie-container .cr-viewport {
    border-color: #009ad9; }
  .croppie-container .cr-slider-wrap {
    margin-top: 32px; }
