@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700|Nunito:400,600,700");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1,
h2,
h3,
h4 {
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif; }

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: #333;
  position: relative; }

p,
span {
  font-size: 16px; }

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000; }
  .modal .modal-overlay {
    background-color: rgba(0, 0, 0, 0.65);
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .modal .modal-overlay .modal-container {
      width: 900px;
      margin-top: 6vh;
      background-color: #f2f2f2;
      border-radius: 2px;
      -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
      .modal .modal-overlay .modal-container .modal-title {
        padding: 0 0 0 32px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        background-color: #fff;
        border-bottom: 1px solid #d9d9d9;
        margin-bottom: 32px; }
      .modal .modal-overlay .modal-container .closeModalButton {
        background: none;
        border: none;
        color: #fff;
        font-size: 24px;
        padding: 0 32px; }
        .modal .modal-overlay .modal-container .closeModalButton:hover {
          cursor: pointer; }
      .modal .modal-overlay .modal-container .crop-modal-img-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 900px;
        padding: 0 32px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
        .modal .modal-overlay .modal-container .crop-modal-img-container #cropModalImg {
          max-width: 866px;
          max-height: 500px; }
      .modal .modal-overlay .modal-container .modal-buttons {
        padding: 24px 32px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .modal .modal-overlay .modal-container .modal-buttons input {
          font-size: 16px; }
        .modal .modal-overlay .modal-container .modal-buttons button {
          margin-left: 24px;
          -ms-flex-item-align: end;
          align-self: flex-end; }

header {
  position: absolute;
  width: 100%;
  background-color: #fff;
  padding: 8px 36px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 999; }
  header .header-title {
    margin: 0;
    font-size: 26px;
    text-align: center;
    font-weight: 700; }

main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#side-bar {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  z-index: 1000;
  border-right: 1px solid #d9d9d9; }

input,
button,
select {
  font-family: "Nunito", sans-serif;
  color: #333; }

.button {
  display: inline-block;
  background-color: #009ad9;
  padding: 8px 12px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #009ad9;
  -ms-flex-item-align: center;
  align-self: center; }
  .button:hover {
    cursor: pointer;
    background-color: #0db9ff; }
  .button:hover {
    cursor: pointer;
    background-color: #0db9ff; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; }

.container {
  position: relative;
  padding-bottom: 32px; }
  .container:first-child .container-header-container {
    border-top: none; }
  .container:last-child {
    border-bottom: 1px solid #d9d9d9; }
  .container hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #d9d9d9;
    margin-top: 0; }

.container-blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.container-header {
  font-weight: 700;
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif; }

.container-header-container {
  padding: 12px 32px;
  text-align: center;
  margin-bottom: 12px;
  border-bottom: 1px solid #d9d9d9; }

#panel-size-container .panel-size-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 16px; }

#panel-size-container .panel-size-inputs-divider {
  font-size: 18px;
  font-weight: bold;
  padding: 0 16px 8px;
  -ms-flex-item-align: end;
  align-self: flex-end; }

#panel-size-container button {
  padding: 8px 12px;
  margin-left: 12px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 18px; }

#panel-size-container .input-group input {
  width: 95px;
  text-align: center; }

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .input-group label {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 600; }
  .input-group input {
    border: none;
    background-color: #f2f2f2;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 8px 12px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 2px;
    -moz-appearance: textfield;
    width: 100%; }
    .input-group input::-webkit-input-placeholder {
      color: #999; }
    .input-group input:-ms-input-placeholder {
      color: #999; }
    .input-group input::-ms-input-placeholder {
      color: #999; }
    .input-group input::placeholder {
      color: #999; }

.result-label {
  font-weight: bold;
  font-size: 18px; }

#image-upload-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.hidden {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.specifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 32px; }

.spec-header {
  margin: 12px 0 0;
  font-weight: bold; }

.spec {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4px 0 0; }

.spec-value {
  font-weight: 600;
  position: absolute;
  right: 0;
  text-align: right; }

.file-specifications {
  padding: 16px 32px; }

.file-uploaded-message {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  max-width: 50%; }

.cropper-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden; }

.loading-spinner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40vh; }
  .loading-spinner-container .loading-spinner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .loading-spinner-container .loading-spinner-content i.fas {
      font-size: 48px;
      height: 48px;
      width: 48px; }
    .loading-spinner-container .loading-spinner-content span {
      margin-top: 16px;
      font-weight: 600; }

.cropper-rotate-buttons,
.cr-slider-wrap,
#cropButton {
  z-index: 100; }

#previewImg {
  max-width: 768px;
  max-height: 768px; }

#dpiQualityIndicator {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold; }
  #dpiQualityIndicator svg {
    font-size: 42px;
    margin-right: 12px; }
    #dpiQualityIndicator svg.error {
      fill: #e53935; }
    #dpiQualityIndicator svg.warning {
      fill: #ffab00; }
    #dpiQualityIndicator svg.success {
      fill: #00c853; }

.cropper-rotate-buttons {
  margin-bottom: 32px; }
  .cropper-rotate-buttons button {
    margin-right: 16px; }
  .cropper-rotate-buttons button:last-child {
    margin-left: 0; }

.fas.left {
  margin-right: 8px; }

.fas.right {
  margin-left: 8px; }

.icon {
  fill: currentColor;
  width: 1.3em;
  height: 1.3em;
  vertical-align: middle;
  overflow: hidden;
  margin-top: -2px; }
  .icon.left {
    margin-right: 4px; }
  .icon.right {
    margin-left: 4px; }

.croppie-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: unset; }
  .croppie-container .cr-boundary {
    overflow: visible; }
  .croppie-container .cr-viewport {
    border-color: #009ad9; }
  .croppie-container .cr-slider-wrap {
    margin-top: 32px; }
  .croppie-container .cr-slider {
    padding: 16px 24px;
    border-radius: 4px;
    background-color: #009ad9;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
