$white: #fff;
$gray-light: #f2f2f2;
$gray: #d9d9d9;
$gray-dark: #999;
$gray-darker: #595959;
$black: #333;
$primary: #009ad9;
$primary-dark: darken($primary, 15);

$red: #e53935;
$yellow: #ffab00;
$green: #00c853;

$bg-dark: $gray-light;
$bg-light: $white;
$border-color: $gray;

$box-shadow1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$box-shadow2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$box-shadow3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  font-family: "Inter UI", sans-serif;
}

h4 {
  margin-bottom: 8px;
}

p {
  margin-top: 0;
}

body {
  margin: 0;
  font-family: "Inter UI", sans-serif;
  color: $black;
  position: relative;
}

p,
span {
  font-size: 15px;
}

.flex-divider {
  flex-grow: 1;
  flex-basis: 0;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.65);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .modal-container {
      width: 900px;
      margin-top: 6vh;
      background-color: $bg-dark;
      border-radius: 2px;
      box-shadow: $box-shadow3;
      .modal-title {
        small {
          font-size: 16px;
          margin-left: 32px;
          font-weight: 500;
          color: $gray-darker;
        }
        padding: 0 0 0 32px;
        display: flex;
        justify-content: space-between;
        background-color: $bg-light;
        border-bottom: 1px solid $border-color;
        margin-bottom: 32px;
      }
      .modal-content {
        padding: 0 32px 16px;
        max-height: 60vh;
        overflow: auto;
      }
      .closeModalButton {
        background: none;
        border: none;
        color: $black;
        font-size: 24px;
        padding: 0 32px;
        &:hover {
          cursor: pointer;
        }
      }
      .crop-modal-img-container {
        display: flex;
        justify-content: center;
        width: 900px;
        padding: 0 32px;
        align-items: flex-start;
        #cropModalImg {
          max-width: 866px;
          max-height: 500px;
        }
      }
      .modal-buttons {
        border-top: 1px solid $border-color;
        padding: 24px 32px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .input-group {
          padding: 0 64px;
        }
        input {
          font-size: 16px;
          background-color: #fff;
          margin-bottom: 16px;
        }
        input,
        label {
          text-align: center;
        }
        button {
          margin-left: 24px;
        }
      }
    }
  }
}

.changelog-change {
  border-left: 4px solid $primary;
  padding: 12px 0 12px 16px;
  margin-bottom: 36px;
  h3 {
    margin-top: 0;
  }
}

.changelog-disclaimer {
  font-size: 14px;
  color: $gray-dark;
  margin-top: 12px;
  text-align: center;
}

table {
  border-collapse: collapse;
  th,
  td {
    padding: 4px 8px;
    border: 1px solid $gray-dark;
  }
}

header {
  position: absolute;
  width: 100%;
  background-color: $bg-light;
  padding: 8px 36px;
  box-shadow: $box-shadow1;
  z-index: 999;
  .header-title {
    margin: 0;
    font-size: 26px;
    text-align: center;
    font-weight: 700;
    display: flex;
    align-items: center;
    .header-title-app-name {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .header-title-changelog-button {
      padding: 6px 12px;
    }
    .header-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 8px;
      img {
        height: 28px;
      }
    }
    button {
      margin-left: 16px;
    }
  }
}

main {
  min-height: 100vh;
  display: flex;
}

#side-bar {
  width: 360px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $bg-light;
  z-index: 1000;
  border-right: 1px solid $border-color;
}

input,
button,
select {
  font-family: "Inter UI", sans-serif;
  color: $black;
}

.button {
  display: inline-block;
  background-color: $primary;
  padding: 8px 12px;
  font-size: 16px;
  color: $white;
  font-weight: 600;
  border: none;
  border-radius: 2px;
  box-shadow: $box-shadow1;
  &:hover {
    cursor: pointer;
    background-color: lighten($primary, 10);
  }
  background-color: $primary;
  align-self: center;
  &:hover {
    cursor: pointer;
    background-color: lighten($primary, 10);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.container {
  position: relative;
  padding-bottom: 16px;
  &:first-child .container-header-container {
    border-top: none;
  }
  &:last-child {
    border-bottom: 1px solid $border-color;
  }
  hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: $border-color;
    margin-top: 0;
  }
}

.container-blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-header {
  font-weight: 600;
  font-size: 18px;
  font-family: "Inter UI", sans-serif;
}

.container-header-container {
  padding: 12px 32px;
  text-align: center;
  margin-bottom: 12px;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

#panel-size-container {
  .panel-size-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 16px;
  }
  .panel-size-inputs-divider {
    font-size: 18px;
    font-weight: bold;
    padding: 0 16px 8px;
    align-self: flex-end;
  }
  button {
    padding: 8px 12px;
    margin-left: 12px;
    align-self: flex-end;
    font-size: 18px;
  }
  .input-group input {
    width: 95px;
    text-align: center;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 600;
  }
  input {
    border: none;
    background-color: $gray-light;
    box-shadow: $box-shadow1;
    padding: 8px 12px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 2px;
    -moz-appearance: textfield;
    width: 100%;
    &::placeholder {
      color: $gray-dark;
    }
  }
}

.result-label {
  font-weight: bold;
  font-size: 18px;
}

#image-upload-container {
  display: flex;
  flex-direction: column;
}

.hidden {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.specifications {
  display: flex;
  flex-direction: column;
  padding: 0 32px;
}

.spec-header {
  margin: 12px 0 0;
  font-weight: 600;
}

.spec {
  position: relative;
  display: flex;
  margin: 4px 0 0;
}

.spec-value {
  font-weight: 600;
  position: absolute;
  right: 0;
  text-align: right;
}

.file-specifications {
  padding: 16px 32px;
}

.file-uploaded-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
}

.cropper-container {
  flex-grow: 1;
  background-color: $bg-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.loading-spinner-container {
  display: flex;
  align-items: center;
  padding-top: 40vh;
  .loading-spinner-content {
    display: flex;
    flex-direction: column;
    i.fas {
      font-size: 48px;
      height: 48px;
      width: 48px;
    }
    span {
      margin-top: 16px;
      font-weight: 600;
    }
  }
}

.cropper-rotate-buttons,
.cr-slider-wrap,
#cropButton {
  z-index: 100;
}

#previewImg {
  max-width: 768px;
  max-height: 768px;
}

#dpiQualityIndicator {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  svg {
    font-size: 42px;
    margin-right: 12px;
    &.error {
      fill: $red;
    }
    &.warning {
      fill: $yellow;
    }
    &.success {
      fill: $green;
    }
    &.perfect {
      fill: $primary;
    }
  }
}

.cropper-rotate-buttons {
  margin-bottom: 32px;
  button {
    margin-right: 16px;
  }
  button:last-child {
    margin-left: 0;
  }
}

.colorConverterTable {
  width: 100%;
  position: relative;
  border-collapse: collapse;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  overflow: auto;
  max-height: 55vh;
  background-color: $bg-light;
  tr,
  td,
  th {
    border: none;
  }
  thead th {
    top: 0;
    background-color: $primary;
    color: #fff;
    position: sticky;
  }
  tbody tr {
    border-bottom: 1px solid $border-color;
  }
  th,
  td {
    padding: 6px 8px;
    text-align: left;
  }
}

.warning {
  color: $yellow;
  font-weight: bold;
}

// Icon styling
.fas.left {
  margin-right: 8px;
}

.fas.right {
  margin-left: 8px;
}

.icon {
  fill: currentColor;
  width: 1.3em;
  height: 1.3em;
  vertical-align: middle;
  overflow: hidden;
  margin-top: -2px;
  &.left {
    margin-right: 4px;
  }
  &.right {
    margin-left: 4px;
  }
}

.flip-x {
  transform: scaleX(-1);
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate270 {
  transform: rotate(270deg);
}

// Croppie restyling
.croppie-container {
  display: flex;
  flex-direction: column;
  height: unset;
  .cr-boundary {
    overflow: visible;
  }
  .cr-viewport {
    border-color: $primary;
  }
  .cr-slider-wrap {
    margin-top: 32px;
  }
  .cr-slider {
    padding: 16px 24px;
    border-radius: 4px;
    background-color: $primary;
    box-shadow: $box-shadow2;
    &:focus {
      box-shadow: 0 0 0 3px $white;
    }
  }
}
