@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

$blue: #009ad9;
$blue-invert: #fff;

$family-sans-serif: "Inter UI", "Helvetica", "Arial", sans-serif;

$primary: $blue;
$primary-invert: $blue-invert;

// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";

$border-color: #dbdbdb;

input,
button {
  font-family: $family-sans-serif;
}

#iframeContainer {
  position: relative;
  overflow: hidden;
  max-width: 1400px;
  padding-top: 80vh;
  border: 1px solid $border-color;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.column-content {
  padding: 32px;
}

#wysiwygCssUrls,
#wysiwygCssRaw {
  font-family: monospace;
  font-size: 14px;
}

// TinyMCE
.mce-notification {
  display: none;
}

// Tabs css
.tab-content-box {
  display: none;
  &.is-active {
    display: block;
  }
}
